@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,700&display=swap');

* {
    font-family: Montserrat;
    word-break: normal;
}

body {
    background-color: #F2F2F2;
}

h2 {
    font-weight: bold;
    color: #FDBB3C;
    width: 100%;
    text-align: center;
}

h3 a{
    color: #212529;
}

h3 a:hover{
    color: #545454;
    text-decoration: none;
}

.lvl3 a{
    color: #212529;
    font-style: italic;
}

.lvl3 a:hover{
    color: #545454;
    /*text-decoration: none;*/
}

.lvl5 a {
    font-weight: bold;
}

span.lvl3 {
    font-size: 24px;
    font-weight: 500;
}

img {
    width: 100%;
    border: #F2F2F2 solid 1px;
}

img:hover {
    border: #545454 dashed;
}

img.unHover:hover {
    border: #F2F2F2 solid 1px;
}

.openBlock {
    cursor: pointer;
}

.openBlock:hover {
    color: #545454;
}

.block {
    display: none;
}